<li>
  <div class="row">
    <% if message.sender_id == current_user.id %>
      <div class="message-sent">
        <%= message.body %>
      </div>
    <% else %>
      <div class="message-received">
        <%= message.body %>
      </div>
    <% end %>
  </div>
</li>
