<h2 class="text-center my-4">Gymbuds: Just a Swipe Away – Match, Message, Meet!</h2>

<div class="text-center">
  <%= image_tag("gymbuds-logo.png", alt: "Gym Buds Logo", class: "img-fluid my-3", width: "500") %>
</div>

<div class="d-flex justify-content-center my-4">
  <%= link_to "Get Started", new_user_registration_path, class: "btn btn-lg btn-primary mx-2", role: "button" %>
  <%= button_to "Sign In", new_user_session_path, class: "btn btn-lg btn-danger mx-2", role: "button" %>
</div>

<div class="d-flex flex-row justify-content-center flex-wrap">
  <div class="card mx-2 my-2" style="width: 18rem; background-color: #825DA7; color: white;">
    <div class="card-body">
      <h5 class="card-title">Match</h5>
      <p class="card-text">Swipe through profiles and look for your potential gym buddy.</p>
    </div>
  </div>

  <div class="card mx-2 my-2" style="width: 18rem; background-color: #5BABB6; color: white;">
    <div class="card-body">
      <h5 class="card-title">Message</h5>
      <p class="card-text">Found a match? It's time to chat! Share goals, tips, and plan your first gym meet-up.</p>
    </div>
  </div>

  <div class="card mx-2 my-2" style="width: 18rem; background-color: #5BB695; color: white;">
    <div class="card-body">
      <h5 class="card-title">Meet</h5>
      <p class="card-text">Sync schedules, pick a spot, and let the gains begin!</p>
    </div>
  </div>
</div>


<div class="d-flex align-items-center min-vh-100 bg-light">
  <div class="container">
    <div class="mx-auto my-5 p-5 bg-white rounded shadow-sm" style="max-width: 500px;">
      <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal text-dark">
          Contact Us
        </h1>
        <p class="text-muted">
          Fill up the form below to send us a message.
        </p>
      </div>
      <form action="https://api.web3forms.com/submit" method="POST" id="form">
        <input type="hidden" name="access_key" value="0ca041b5-7c2c-473f-80ce-951c798054c9">
        <input type="hidden" name="subject" value="New Submission from Web3Forms">
        <input type="checkbox" name="botcheck" id="" style="display: none;">

        <div class="mb-3">
          <label for="name" class="form-label">Full Name</label>
          <input type="text" name="name" id="name" placeholder="John Doe" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" name="email" id="email" placeholder="you@example.com" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required class="form-control">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Your Message</label>
          <textarea rows="5" name="message" id="message" placeholder="Type your message..." required class="form-control"></textarea>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-primary btn-block">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="path/to/form.js"></script>
