<div id="<%= dom_id match %>">
  <p>
    <strong>Status:</strong>
    <%= match.status %>
  </p>

  <p>
    <strong>Requester:</strong>
    <%= match.requester_id %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= match.approver_id %>
  </p>

</div>
