<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<% @matches.each do |match| %>
  <div>
    Match between <%= match.requester.full_name.titleize %> and <%= match.approver.full_name.titleize %>
  </div>
<% end %>
